.rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media (min-width: $screen-md) {
    gap: 32px;
  }

  $block-name:                &; // #{$block-name}__element

}
