.project-gallery {

  $block-name:                &; // #{$block-name}__element

  //&__title {
  //}

  &__row {
    gap: 24px 0;

    @media (min-width: $screen-xxl) {
      gap: 40px 0;
    }
  }

  &__col {
    @include col(xs, 6);
    @include col(md, 4);
    @include col(xxl, 3, $grid-columns, 32px);

    &--catalog {
      @include col(md, 3);
    }
  }

  &__img {
    border-radius: $border-radius--img;

    &:hover,
    &:focus {

      img {
        transform: scale(1.1);
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      transition: transform $transition-time ease;
    }
  }
}
