$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

table,
.table {

  $block-name:                &; // #{$block-name}__element

  //table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  margin: 30px 0;

  @media (min-width: $screen-xxl) {
    margin: 40px 0;
  }

  caption {
    padding-top: 1em;
    text-align: right;
    caption-side: bottom;
    font-size: $font-size-sm;
    line-height: 1em;
    color: $text-color;
  }

  td,
  th {
    padding: 20px 12px;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    //text-align: left;
    background-color: $block-bg;
  }

  &__header {}

  &__body {}

  &__footer {}
}
