.breadcrumbs {
  //margin-top: 20px;
  margin-bottom: 40px;

  $block-name:                &;
  // #{$block-name}__element

  &__list {
    //display: flex;
    //flex-wrap: wrap;
    //align-items: center;
  }

  &__item {
    display: inline;
    vertical-align: baseline;
    max-width: 100%;
    margin-right: 4px;
    margin-bottom: 4px;
    //overflow: hidden;
    //text-overflow: ellipsis;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '/'; // U+276F, HTML-код &#10095; CSS-код  \276F - Прававя угловая скобка
      display: inline-block;
      margin-left: 4px;
      font-weight: inherit;
      color: $text-muted;
    }

    &:last-child {

      #{$block-name}__link {
        text-decoration: none;
        color: $blue-med;
      }
    }
  }

  &__link {
    max-width: 100%;
    font-size: inherit;
    font-weight: 400;
    color: $text-muted;
    text-decoration: none;
    text-wrap: pretty;
    //white-space: nowrap;

    &:hover,
    &:focus {
      color: $blue-med;
      text-decoration: none;
    }
  }
}
