.page-header {
  position: fixed;
  top: 0;
  z-index: 100;
  //margin-bottom: 16px;
  background-color: $body-bg;

  @media (min-width: $screen-md) {
    margin-bottom: 32px;
  }

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    margin-bottom: calc(78px - -16px);

    @media (min-width: $screen-md) {
      margin-bottom: calc(78px - -32px);
    }

    @media (min-width: $screen-xxl) {
      margin-bottom: calc(100px - -32px);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    min-height: 78px;
    border-bottom: 1px solid $border-color;

    @media (min-width: $screen-xxl) {
      min-height: 100px;
    }
  }

  &__service {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 8px;

    @media (min-width: $screen-md) {
      gap: 0 12px;
    }
  }

  // &__short-menu {
  //   display: none;

  //   @media (min-width: $screen-md) {
  //     display: inline-flex;
  //     flex-wrap: wrap;
  //     align-items: center;
  //     gap: 0 24px;
  //   }
  // }

  // &__short-menu-item {
  //   margin-bottom: 0;
  // }

  //&__short-menu-link,
  &__menu-btn-text {
    display: inline-flex;
    align-items: center;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
  }

  // &__short-menu-link {

  //   &:hover,
  //   &:focus {
  //     text-decoration: underline;
  //     color: $main-color;
  //   }
  // }

  &__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    font-family: $font-family;
    font-weight: 500;
    font-size: 18px;
    background-color: $white;
    cursor: pointer;
    user-select: none;

    @media (max-width: $screen-md - 1) {
      border: 1px solid $border-color;
    }

    &:hover,
    &:focus {
      color: $link-color--hover;
    }
  }

  &__menu-btn-text {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      white-space: nowrap;
      transition: color $transition-time;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    height: 44px;
    padding: 0;
    //text-decoration: none;
    color: $text-color;
    user-select: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color--hover;
    }

    @media (max-width: $screen-md - 1) {
      border: 1px solid $border-color;
    }

    @media (min-width: $screen-xl) {
      font-size: $font-size-lg;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__btn-text {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      padding: 8px;
      line-height: 1;
    }
  }

  // &__menu-wrapper {
  //   border-bottom: 1px solid $border-color;
  // }
}
