.review-slider {

  $block-name:                &; // #{$block-name}__element

  &__container {

    @media (max-width: $screen-md - 1) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: $screen-md - 1) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__header-inner {
    max-width: 830px;
  }

  &__title {
    margin: 0 0 20px;
  }

  &__intro {

    p {
      hyphens: none;
      text-wrap: pretty;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    //width: calc(100% - 32px) !important;
    max-width: 454px !important;
    transition: all $transition-time ease-in-out;

    @media (min-width: $screen-md) {
      width: 454px !important;
    }

    @media (min-width: $screen-xxl) {
      width: 616px !important;
      max-width: none !important;
    }

    &:not(.swiper-slide-active) {
      opacity: 0.5;
      //transform: scale(0.8);
    }

    // &.swiper-slide-active {
    //   transform: scale3d(1, 1.1, 1);
    // }
  }
}
