.before-after-wrapper {
  position: relative;
  aspect-ratio: 3/4;
}

.before-after-wrapper::before {
  background-color: #ededed;
  border-radius: 40px;
  top: 10px;
  //color: green;
  content: 'before';
  left: 10px;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  transition: opacity 200ms ease-in-out;
  z-index: 15;
}

:global(.before-after-wrapper.show-before::before) {
  opacity: 1;
}

.before-after-wrapper::after {
  background-color: #ededed;
  border-radius: 40px;
  top: 10px;
  //color: green;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  transition: opacity 200ms ease-in-out;
  z-index: 15;
  content: 'after';
}

:global(.before-after-wrapper.show-after::after) {
  opacity: 1;
}

.before-image-wrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
}

.before-image {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.after-image {
  background-size: cover;
  inset: 0;
  position: absolute;
}

.handle {
  align-items: center;
  background: #ededed;
  bottom: 0;
  cursor: col-resize;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 20;
}

.handle::before {
  content: '';
  position: absolute;
  inset: 0 -20px;
}

.handle::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  background-color: #ededed;
  background-image: svg-load('../blocks/sprite-svg/svg/dragger.svg', fill=$main-color);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
}

.before-after {
  border-radius: $border-radius--img;
  overflow: hidden;

  $block-name:                &; // #{$block-name}__element

}
