.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 302px;
    height: 33px;

    @media (max-width: $screen-xl) {
      width: 133px; //224
      height: 26px; //24
    }
  }

  &--footer {

    img {
      width: 82px;
      height: 140px;

      @media (min-width: $screen-xl) {
        width: 82px;
        height: 140px;
      }
    }
  }
}
