.brand-slider {
  padding-top: 24px;
  padding-bottom: 24px;
  //border-top: 1px solid $gray-100;

  @media (min-width: $screen-md) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  $block-name:                &; // #{$block-name}__element

  &__item {
    width: auto;
    height: 40px; //56

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
